

.catalog-carousel-title {
margin-left: 2%;

}

.background-family-carousel {
  height: 260px ;
  padding: 0;
}

.product-example-carousel {
width: 172px;
height: 253px;
left: -1px;
top: 0px;
margin-left: 2%;
display: block;
background: red;
}

.product-type-title {
  width: 104px;
  height: 18px;
  left: -1px;
  top: 265px;
  margin: 0 0 10% 2%;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.product-type-subtitle {
  width: 88px;
height: 16px;
left: -1px;
top: 286px;
margin: 0 0 10% 2%;
font-family: 'Chakra Petch';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 16px;
/* identical to box height */
color: #000000;
}
.side-by-side-list {
  width: 100%;
  display: inline ; 
  margin-bottom: 2%;
  
  
}

.products-list {
  float: left;
  margin: 2% 2% 2% 2%;
}
